{% extends 'adoptions/base.html' %}

{% block content %}
<div class="container mt-4">
  <h2>My Adoption Application history</h2>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Pet Name</th>
        <th>Application Time</th>
        <th>Reviewer</th>
        <th>Review status</th>
        <th>View Details</th>
      </tr>
    </thead>
    <tbody>
      {% for history in history_list %}
      <tr>
        <td>{{ history.pet.name }}</td>
        <td>{{ history.applied_at|date:"Y-m-d H:i" }}</td>
        <td>
          {% if history.operator_username %}
            {{ history.operator_username.username }}
          {% else %}
            Error！
          {% endif %}
        </td>
        <td>{{ history.get_status_display }}</td>
        <td>
          <a href="{% url 'adoptions:history_details' pet_id=history.pet.pet_id %}" class="btn btn-primary btn-sm">View Details</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">There are no records of the application</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
